<div id="map" style="width: 500px; height: 300px"></div>

<script type="text/javascript">
  function loadMap() {
    
    function createMarker(point,html) {
      var marker = new GMarker(point);
      GEvent.addListener(marker, "click", function() {
        marker.openInfoWindowHtml(html);
      });      
      return marker;
    }
            
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map"));
      map.setCenter(new GLatLng(<%= current_user.lat %>, <%= current_user.lng %>), 5);
    }
  }
  
  loadMap();
</script>